@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .top-bar {
    &::before {
      content: '';
      width: 40px;
      height: 5px;
      display: block;
      background-color: #a7ce2e;
      margin-bottom: 5px;
    }
  }
}
