@function color($key, $opacity: 1) {
  $color: if(map-has-key($colors, $key), map-get($colors, $key), $key);
  @return rgba($color, $opacity);
}

$colors: (
  black: #333333,
  white: #ffffff,

  red-01: #fef2f2,
  red-02: #fee2e2,
  red-03: #fecaca,
  red-04: #fca5a5,
  red-05: #f87171,
  red-06: #ef4444,
  red-07: #dc2626,
  red-08: #b91c1c,
  red-09: #991b1b,
  red-10: #7f1d1d,

  gray-01: #f9fafb,
  gray-02: #f3f4f6,
  gray-03: #e5e7eb,
  gray-04: #d1d5db,
  gray-05: #9ca3af,
  gray-06: #6b7280,
  gray-07: #4b5563,
  gray-08: #374151,
  gray-09: #1f2937,
  gray-10: #111827,

  purple-01: #faf5ff,
  purple-02: #f3e8ff,
  purple-03: #e9d5ff,
  purple-04: #d8b4fe,
  purple-05: #c084fc,
  purple-06: #a855f7,
  purple-07: #9333ea,
  purple-08: #7e22ce,
  purple-09: #6b21a8,
  purple-10: #581c87,

  sky-01: #f0f9ff,
  sky-02: #e0f2fe,
  sky-03: #bae6fd,
  sky-04: #7dd3fc,
  sky-05: #38bdf8,
  sky-06: #0ea5e9,
  sky-07: #0284c7,
  sky-08: #0369a1,
  sky-09: #075985,
  sky-10: #0c4a6e,

  blue-01: #eff6ff,
  blue-02: #dbeafe,
  blue-03: #bfdbfe,
  blue-04: #93c5fd,
  blue-05: #60a5fa,
  blue-06: #3b82f6,
  blue-07: #2563eb,
  blue-08: #1d4ed8,
  blue-09: #1e40af,
  blue-10: #1e3a8a,

  green-01: #f0fdf4,
  green-02: #dcfce7,
  green-03: #bbf7d0,
  green-04: #86efac,
  green-05: #4ade80,
  green-06: #22c55e,
  green-07: #16a34a,
  green-08: #15803d,
  green-09: #166534,
  green-10: #14532d,

  yellow-01: #fefce8,
  yellow-02: #fef9c3,
  yellow-03: #fef08a,
  yellow-04: #fde047,
  yellow-05: #facc15,
  yellow-06: #eab308,
  yellow-07: #ca8a04,
  yellow-08: #a16207,
  yellow-09: #854d0e,
  yellow-10: #713f12,

  orange-01: #fff7ed,
  orange-02: #ffedd5,
  orange-03: #fed7aa,
  orange-04: #fdba74,
  orange-05: #fb923c,
  orange-06: #f97316,
  orange-07: #ea580c,
  orange-08: #c2410c,
  orange-09: #9a3412,
  orange-10: #7c2d12,
);
